.icono{
    display: inline;
    width: 15%;
    height: auto;
    object-position: bottom 10px ;
}

.redes-sociales{
    display: inline;
    width: auto;
    height: 13%;
    object-position: bottom 10px ;
}

.iconos{
    display: inline;
    width: 15%;
    height: auto;
    object-position: bottom 10px ; 
}



.objetos-menu{
    height: 50%;
}

/* Navbar */
#topheader .navbar-nav li > a {
	text-transform: capitalize;
	color: rgb(255, 255, 255);
	transition: background-color .2s, color .2s;
	
	&:hover,
	&:focus {
    background-color: #333333;
		color: #ffffff;
	}
}

#topheader .navbar-nav li.active > a {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

/* Footer */

* {
    margin: 0;
}
html, body {
    height: 100%;
}

footer{
  width:100%;
  min-height:100px;
  position: relative;
}

.footer-dark {
    color:#f0f9ff;
    background-color:#282d32;
    padding:50px 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    flex-wrap: wrap;
  }
  
.footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
.footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
}
  
.footer-dark ul a:hover {
    opacity:0.8;
}
  
@media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
}
  
.footer-dark .item.text {
    margin-bottom:36px;
}
  
@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}
  
.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}
  
.footer-dark .item.social {
  text-align:center;
}
  
@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}
  
.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}
  
.footer-dark .item.social > a:hover {
  opacity:0.9;
}
  
.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.redes-contacto{
  margin-bottom: 0.725rem;
  flex: 1 0 calc(50% - 1rem);
  align-items: center;
  display: flex;
}

.creditos {
  color: #9FD4CA;
  font-family: "Open Sans";
}

/* Pagina de contacto */
.gradient-brand-color {
  background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
  color: #fff;
}
.contact-info__wrapper {
  overflow: hidden;
  border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
  .contact-info__wrapper {
      border-radius: 0 .625rem .625rem 0;
      padding: 5rem !important
  }
}
.contact-info__list span.position-absolute {
  left: 0
}
.z-index-101 {
  z-index: 101;
}
.list-style--none {
  list-style: none;
}
.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
  .contact__wrapper {
      border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
