<html>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
			<div class="container-fluid justify-content-center">
				<ul class="navbar-nav">
					<div class="container-fluid justify-content-center">
						<li class="nav-item">
							<!--a href="https://www.flaticon.com/free-icons/navigation-bar" title="navigation bar icons">Navigation bar icons created by Wahyu Adam - Flaticon</a-->
							<a class="navbar-brand" href="">
								<img src="static/images/browser.png" class="d-inline-block align-top img-fluid rounded float-left icono" alt="icono de inicio" />
							</a>
						</li>
					</div>
					<div class="container-fluid justify-content-center">
						<li class="nav-item">
							<a class="nav-link active" href="" >// Home page</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#about" >// About Me</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#portafolio" >// Portafolio</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="contact_me"  >// Contact</a>
						</li>
                    </div>
                    <li>
                        <div class="social">
                            <li class="github">
								<a href="https://github.com/victor-dev-code" title="Check my GitHub" target="_blank">
									<img src="static/images/github.png" class="d-inline-block align-top img-fluid rounded float-left redes-sociales " alt="github" />
								</a>
							</li>
                            <li class="linkedin">
								<a href="https://www.linkedin.com/in/victor-manuel-hernández-yoval-47a882262/" title="Check my linkedin" target="_blank">
									<img src="static/images/linkedin.png" class="d-inline-block align-top img-fluid rounded float-left redes-sociales " alt="linkedin" />
								</a>
							</li>
                        </div>
                    </li>
				</ul>	
			</div>		
		</nav>
	</body>
</html>