<!DOCTYPE html>
<html lang="es-mx">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <title>{% block title %}Victor Hdez. Yoval | Back End Developer Portafolio{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="static/cssfiles/estilos.css" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <script src="static/js/funciones.js"></script>
    </head>

    <body class="container-fluid p-3 my-3 d-flex flex-column min-vh-100">
      <header>
|       {% include "barra.html" %}

        <section class="hero text-white" style="background-image: url('static/images/hero-image-002.jpg');">
          <div class="hero-inner">
            <h2 class="mb-3">Víctor Manuel Hernández Yoval</h1>
            <hr>
            <h4 class="mb-3">Back-End Developer</h4>
          </div>
        </section>
 |     <!--div class="p-5 text-center bg-image" style="
 background-image: url('static/images/hero-image-002.jpg');
 height: 400px;
">
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
 <div class="d-flex justify-content-center align-items-center h-100">
   <div class="text-white">
     <img src="static/images/coding.png" class="img-fluid rounded icono-hero" />
     <h1 class="mb-3">Víctor Manuel Hernández Yoval</h1>

     <h4 class="mb-3">Back-End Developer</h4>
     
   </div>
 </div>
</div>
</div>
<div class="hero-full-screen"-->

  <div class="bottom-content-section" data-magellan data-threshold="0">
    <a href="#main-content-section"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 12c0-6.627-5.373-12-12-12s-12 5.373-12 12 5.373 12 12 12 12-5.373 12-12zm-18.005-1.568l1.415-1.414 4.59 4.574 4.579-4.574 1.416 1.414-5.995 5.988-6.005-5.988z"/></svg></a>
  </div>

</div>

<div id="main-content-section" data-magellan-target="main-content-section">
  <!-- your content goes here -->
</div>


      </header>
      <section>
        {% block contenido %}
  
        {% endblock %}
      </section>

      
    </body>
    <footer>
      {% include "footer.html" %}
    </footer>
</html>