{% extends "base.html" %}


{% block contenido%}
    
    <section class="container ftco-section">
        <div class="container" id="about">
            <div class="container">
                <div class="row justify-content">
                    <div class="text-center mb-5">
                        <h2 class="heading-section">ABOUT</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 contact-form__wrapper p-5">
                        <img src="" alt="foto de perfil" />
                    </div>
                    <div class="col-md-8 my-auto bg-dark p-5 text-white">
                        <h1>Who's this guy?</h1>
                        <h5>Hello there! My name is <strong>Víctor Manuel Hernández Yoval</strong>. I'm a Back-end Developer</h5>
	                        <p></p>
	                        <p>Check my full CV below    <i class="fas fa-arrow-alt-circle-down"></i></p>
	                    <a class="btn btn-primary bg-black btn-lg rounded-0 my-3 justify-content" href="static/CV_Victor.pdf" target="_blank"><i class="fas fa-download"></i>   Download CV</a>
                    </div> 
                </div>

                <div class="row my-auto bg-dark p-5 text-white">
                    <div class="col-md-6" >
                        <h4>Education</h4>
                        <h6>BSc Networking and Computer Services</h6>
                        <p><strong>Universidad Veracruzana</strong> | Xalapa, Ver., México (2017-2022)</p>
                        <p><strong>Key modules:</strong> 
                            Protocol Analysis, Operating Systems, Networking, Network Architecture, Advanced Routing, Programming, Databases Management, Server Management, Network Management Programming, Web System Development, Cybersecurity, Secure Programming, Cryptography
                        </p>
                        <p><strong>Dissertation:</strong> "Support to LISoft Development through Networking Services"</p>
                    </div> 
                    <div class="col-md-6" >
                        <h4>Work Experience</h4>
                        <h6>Support Engineer || Since February 2023</h6>
                        <ul>
                            <li>Install and connect Fortinet equipment.</li>
                            <li>Install and connect Cisco Routers.</li>
                            <li>Update Operating Systems to stable version.</li>
                            <li>Make backups and restore Operating Systems.</li>
                            <li>Printer and Computer maintenance.</li>
                            <li>Support for Scitum, Cistic, BSS, etc. companies.</li>
                        </ul>
                    </div>    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="container">
                <div class="row justify-content">
                    <div class="mb-5">

                        <h4 class="heading-section">SKILLS</h4>

                        <div class="container bg-white mt-5 p-3">
                          <div class="row g-2">
                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/python-logo.png" alt="Python logo" width="36"/>
                                      </div>
                                      <span>Python + Django</span>
                                  </div>
                              </div>
                              
                              <div class="col-md-2">
                                   <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/JavaScript-logo.png" alt="JavaScript logo" width="36"/>
                                      </div>
                                      <span>JavaScript</span>
                                  </div>
                              </div>
                              
                              <div class="col-md-2">
                                <div class="card text-center">
                                   <div class="image">
                                       <img src="static/images/terminal.png" alt="Terminal icon" width="36"/>
                                   </div>
                                   <span>Linux Terminal</span>
                               </div>
                              </div>
                              
                              <div class="col-md-2">
                                <div class="card text-center">
                                    <div class="image">
                                        <img src="static/images/git-logo.png" alt="Git logo" width="36"/>
                                    </div>
                                    <span>Git</span>
                                </div>
                              </div>

                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/GitHub-logo.png" alt="GitHub logo" width="36"/>
                                      </div>
                                      <span>GitHub</span>
                                  </div>
                              </div>

                              <div class="col-md-2">
                                <div class="card text-center">
                                    <div class="image">
                                        <img src="static/images/html.png" alt="HTML 5 logo" width="36"/>
                                    </div>
                                    <span>HTML 5</span>
                                </div>
                            </div>

                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/bootstrap-4-logo.png" alt="Bootstrap logo" width="36"/>
                                      </div>
                                      <span>Bootstrap 4</span>
                                  </div>
                              </div>
                                                            
                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/mysql-logo.png" alt="MySQL logo" width="36" />
                                      </div>
                                      <span>MySQL</span>
                                  </div>
                              </div>
                              <div class="col-md-2">
                                   <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/postgresql.png" alt="PostgreSQL logo" width="36" />
                                      </div>
                                      <span>PostgreSQL</span>
                                  </div>
                              </div>
                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/mongodb.png" alt="MongoDB logo" width="36" />
                                      </div>
                                      <span>MongoDB</span>
                                  </div>
                              </div>
                              
                                                           
                              <div class="col-md-2">
                                  <div class="card text-center">
                                      <div class="image">
                                          <img src="static/images/SonarQube-hUdD.png" alt="SonarQube logo" width="36" />
                                      </div>
                                      <span>SonarQube</span>
                                  </div>
                              </div>
                              <div class="col-md-2">
                                <div class="card text-center">
                                    <div class="image">
                                        <img src="static/images/docker_icon.png" alt="Docker logo" width="36" />
                                    </div>
                                    <span>Docker</span>
                                </div>
                            </div>

                            <div class="col-md-2">
                              <div class="card text-center">
                                  <div class="image">
                                      <img src="static/images/azure.png" alt="Azure Services logo" width="36"/>
                                  </div>
                                  <span>Azure Services</span>
                              </div>
                            </div>

                            <div class="col-md-2">
                              <div class="card text-center">
                                  <div class="image">
                                      <img src="static/images/Virtualbox_logo.png" alt="Virtualbox logo" width="36"/>
                                  </div>
                                  <span>Virtualbox</span>
                              </div>
                            </div>
                          
                      </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container" id="portfolio">
            <div class="container">
                <div class="row justify-content">
                    <div class="text-center mb-5">
                        <h2 class="heading-section" >PORTFOLIO</h2>
                    </div>
                </div>

                <div class="row">
                    {% for project in projects %}
                        <div class="col-md-4 p-4">
                            <div class="card bg-blue card-project">
                                <img src="{{project.image.url}}" alt="{{project.title}}" class="card-img-top" />
                                <div class="card-body">
                                    <h2>{{project.title}}</h2>
                                    <p>{{project.description}} </p>
                                    <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm bg-info text-white" target="_blank">GitHub Link</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container" id="contact">
            <header class="container">
                <div class="row justify-content">
				    <div class="text-center mb-5">
                        <h2 class="heading-section">CONTACT</h2>
				    </div>
			    </div>
            </header>
            <div class="container contact__wrapper shadow-lg mt-n9">
                <div class="row no-gutters">
                    <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                        <h3 class="color--white mb-5">Hello Again!</h3>
                        <p class="mb-4">Email me with any question, I would be happy to answer you</p>
            
                        <ul class="contact-info__list list-style--none position-relative z-index-101">
                            <li class="mb-4 pl-4">
                                <b><span class="position-absolute"><i class="fas fa-envelope"> Mail: </i></span></b> hdezyvictor99@gmail.com
                            </li>
                            <li class="mb-4 pl-4">
                                <b><span class="position-absolute"><i class="fas fa-phone"> Web: </i></span></b> elvictor099.com
                            </li>
                        </ul>
            
                        <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
                                <defs>
                                    <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                        <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                        <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                                    </linearGradient>
            
                                </defs>
                                <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                                <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                            </svg>
                        </figure>
                    </div>
            
                    <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                        {% if 'ok' in request.GET %}
                            <div id="form-message-success" class="alert alert-success alert-dismissible mb-4">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>Success!</strong> Your message was sent successfully, thank you!
                            </div>
                        {% endif %}
                        <form action="home_page" class="contact-form form-validate" novalidate="novalidate" method="POST">
                            {% csrf_token %}
                            <div class="row">
            
                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="name">Name</label>
                                        <div class="input-group" id="name">{{form.name}}</div>
                                        {{form.name.errors}}
                                    </div>
                                </div>
            
                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="email">Email</label>
                                        <div class="input-group" id="email">{{form.email}}</div>
                                        {{form.email.errors}}
                                    </div>
                                </div>
            
                                <div class="col-sm-12 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="message">Message</label>
                                        <div class="input-group" id="message">{{form.content}}</div>
                                        {{form.content.errors}}
                                    </div>
                                </div>
            
                                <div class="col-sm-12 mb-3">
                                    <button type="submit" name="submit" class="btn btn-primary">Send Message</button>
                                </div>
            
                            </div>
                        </form>
                    </div>
            
                </div>
            </div>
        </div>
    </section>

{% endblock %}
