<html>
<footer class="page-footer font-small p-3 my-3 bg-dark footer-dark">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-7 text-left ">
                    Sistema de Gestión de Vulnerabilidades <br />
                    Departamento de Seguridad y Monitoreo <br />
                    Universidad Veracruzana (UV) <br />
        </div>
        <div class="col-sm-6 col-md-3 item redes-contacto">
            <h3>Redes sociales</h3>
            <ul>
                <li>
                    <a href="https://github.com/victor-dev-code" title="Check my GitHub" target="_blank">
                        <img src="static/images/github.png" class="d-inline-block align-top img-fluid rounded float-left iconos-footer " alt="github" />
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/victor-manuel-hernández-yoval-47a882262/" title="Check my linkedin" target="_blank">
                        <img src="static/images/linkedin.png" class="d-inline-block align-top img-fluid rounded float-left iconos-footer " alt="linkedin" />
                    </a>
                </li>
            </ul>
        </div>
      <div class="col-sm-4"></div>
   </div>
   <div class="footer-copyright text-center py-3 creditos">Víctor Manuel Hernández Yoval | Desarrollador de la página<br />
    © 2023: Creditos de la web
  </div>
  <!--div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>
</div-->
</footer>
</html>