<!--html>
    <footer class="page-footer font-small p-3 my-3 bg-dark footer-dark">
	    <div class="row">
		    <div class="col-sm-1"></div>
		    <div class="col-sm-7 text-left ">
                    Sistema de Gestión de Vulnerabilidades <br />
                    Departamento de Seguridad y Monitoreo <br />
                    Universidad Veracruzana (UV) <br />
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Social media</h3>						
                <a href='https://github.com/victor-dev-code'>
                    <i class="fab fa-github" style="color: #333333;"></i>
                </a>
                <a href="https://www.linkedin.com/in/victor-manuel-hernández-yoval-47a882262/">
                    <i class="fab fa-linkedin-in" style="color: #0082ca;"></i>
                </a>
                    
                
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="footer-copyright text-center py-3 creditos">Víctor Manuel Hernández Yoval | Desarrollador de la página<br />
            © 2023: Creditos de la web
        </div>
  <div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Company Name © 2018</p>
        </div>
    </footer>
</div>
    </footer>
</html-->

<html>
    <div class="container my-5 ">
        <footer class="footer navbar-fixed-bottom page-footer font-small p-3 my-3 bg-dark footer-dark  text-center text-lg-start text-white bg-info">
            <div class="container p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col-md-7 col-lg-8 col-xl-8 mx-auto mt-3 text-left">
                            <h6 class="text-uppercase mb-4 font-weight-bold ">
                                Company name
                            </h6>
                            <p>
                                Here you can use rows and columns to organize your footer
                                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit.
                            </p>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />
  
                        <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4 font-weight-bold">Social media</h6>

                                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #282d32;" href="#!" role="button">
                                    <i class="fab fa-github"></i>
                                </a>
                                <a class="btn btn-primary btn-floating m-1 " style="background-color: #ff4500;" href="#!" role="button">
                                    <i class="fab fa-reddit-alien"></i>
                                </a>
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button">
                                    <i class="fab fa-google "></i>
                                </a>
  
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #ffac44" href="#!" role="button">
                                    <i class="fab fa-stack-overflow "></i>
                                </a>
              
                        </div>
                    </div>
                </section>
            </div>
            <div class="footer-copyright text-center py-3 creditos text-center p-3">
                Víctor Manuel Hernández Yoval | Desarrollador de la página<br />
                © 2023: Creditos de la web
            </div>
        </footer>
    </div>
</html>
